In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
f_df = pd.read_csv('Fake.csv')
t_df = pd.read_csv('True.csv')

In [4]:
f_df.head()

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [5]:
t_df.head()

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [6]:
# now we'll create another column in both true and fake datasets to classify them as true-1 and fake-0

f_df['class'] = 0
t_df['class'] = 1

In [7]:
t_df.head()

,title,text,subject,date,class
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",1
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",1
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",1
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",1
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",1

In [8]:
t_df.columns

Index(['title', 'text', 'subject', 'date', 'class'], dtype='object')

In [9]:
f_df.columns

Index(['title', 'text', 'subject', 'date', 'class'], dtype='object')

In [10]:
t_df.shape

(21417, 5)

In [11]:
f_df.shape

(23481, 5)

In [12]:
t_df.isnull().sum()

title      0
text       0
subject    0
date       0
class      0
dtype: int64

In [13]:
f_df.isnull().sum()

title      0
text       0
subject    0
date       0
class      0
dtype: int64

In [14]:
t_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21417 entries, 0 to 21416
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    21417 non-null  object
 1   text     21417 non-null  object
 2   subject  21417 non-null  object
 3   date     21417 non-null  object
 4   class    21417 non-null  int64
dtypes: int64(1), object(4)
memory usage: 836.7+ KB

In [15]:
f_df.tail()

,title,text,subject,date,class
23476,McPain: John McCain Furious That Iran Treated ...,21st Century Wire says As 21WIRE reported earl...,Middle-east,"January 16, 2016",0
23477,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,21st Century Wire says It s a familiar theme. ...,Middle-east,"January 16, 2016",0
23478,Sunnistan: US and Allied ‘Safe Zone’ Plan to T...,Patrick Henningsen 21st Century WireRemember ...,Middle-east,"January 15, 2016",0
23479,How to Blow $700 Million: Al Jazeera America F...,21st Century Wire says Al Jazeera America will...,Middle-east,"January 14, 2016",0
23480,10 U.S. Navy Sailors Held by Iranian Military ...,21st Century Wire says As 21WIRE predicted in ...,Middle-east,"January 12, 2016",0

In [16]:
t_df.tail(5)

,title,text,subject,date,class
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017",1
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017",1
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017",1
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017",1
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017",1

In [17]:
# Removing last 5 rows for manual testing
f_df_manual_testing = f_df.tail()
for i in range(23480,23470,-1):
    f_df.drop([i], axis = 0, inplace = True)
    
    
t_df_manual_testing = t_df.tail()
for i in range(21416,21406,-1):
    t_df.drop([i], axis = 0, inplace = True)

In [18]:
# f_df.tail()
# for i in range(21475,21470,-1):
#     f_df.drop([i], axis = 0, inplace = True)

In [19]:
t_df.shape

(21407, 5)

In [20]:
f_df.shape

(23471, 5)

In [21]:
t_df_manual_testing

,title,text,subject,date,class
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017",1
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017",1
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017",1
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017",1
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017",1

In [22]:
# Concatenating manual test data
df_manual_testing = pd.concat([f_df_manual_testing,t_df_manual_testing], axis = 0)
df_manual_testing.to_csv("manual_testing.csv")

In [23]:
df_man_test = pd.read_csv("manual_testing.csv")

In [24]:
df_man_test

,Unnamed: 0,title,text,subject,date,class
0,23476,McPain: John McCain Furious That Iran Treated ...,21st Century Wire says As 21WIRE reported earl...,Middle-east,"January 16, 2016",0
1,23477,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,21st Century Wire says It s a familiar theme. ...,Middle-east,"January 16, 2016",0
2,23478,Sunnistan: US and Allied ‘Safe Zone’ Plan to T...,Patrick Henningsen 21st Century WireRemember ...,Middle-east,"January 15, 2016",0
3,23479,How to Blow $700 Million: Al Jazeera America F...,21st Century Wire says Al Jazeera America will...,Middle-east,"January 14, 2016",0
4,23480,10 U.S. Navy Sailors Held by Iranian Military ...,21st Century Wire says As 21WIRE predicted in ...,Middle-east,"January 12, 2016",0
5,21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017",1
6,21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017",1
7,21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017",1
8,21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017",1
9,21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017",1

In [25]:
df_man_test.shape

(10, 6)

In [26]:
# Concatenate main dataset first and then shuffle it
df = pd.concat([t_df,f_df],axis=0)

In [27]:
df.head()

,title,text,subject,date,class
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",1
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",1
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",1
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",1
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",1

In [28]:
df.shape

(44878, 5)

In [29]:
df.tail()

,title,text,subject,date,class
23466,Boston Brakes? How to Hack a New Car With Your...,21st Century Wire says For those who still ref...,Middle-east,"January 22, 2016",0
23467,Oregon Governor Says Feds ‘Must Act’ Against P...,"21st Century Wire says So far, after nearly 20...",Middle-east,"January 21, 2016",0
23468,Ron Paul on Burns Oregon Standoff and Jury Nul...,21st Century Wire says If you ve been followin...,Middle-east,"January 21, 2016",0
23469,BOILER ROOM: As the Frogs Slowly Boil – EP #40,Tune in to the Alternate Current Radio Network...,Middle-east,"January 20, 2016",0
23470,Arizona Rancher Protesting in Oregon is Target...,RTOne of the most visible members of the armed...,Middle-east,"January 20, 2016",0

In [30]:
df.columns

Index(['title', 'text', 'subject', 'date', 'class'], dtype='object')

In [31]:
# Remove unnecessary columns
df = df.drop(["title", "subject","date"], axis = 1)

In [32]:
df.shape

(44878, 2)

In [33]:
df.head()

                                                text  class
0  WASHINGTON (Reuters) - The head of a conservat...      1
1  WASHINGTON (Reuters) - Transgender people will...      1
2  WASHINGTON (Reuters) - The special counsel inv...      1
3  WASHINGTON (Reuters) - Trump campaign adviser ...      1
4  SEATTLE/WASHINGTON (Reuters) - President Donal...      1

In [34]:
# Now we'll shuffle this dataset
df = df.sample(frac = 1)

In [35]:
df.head()

                                                    text  class
8744   BRUSSELS (Reuters) - EU and U.S. negotiators s...      1
2197   Donald Trump, the businessman who conservative...      0
18995  PARIS (Reuters) - French President Emmanuel Ma...      1
19408  Kellyanne Conway will be joining the White Hou...      0
13591  MANILA (Reuters) - Philippine soldiers have ki...      1

In [36]:
# Now we'll reset the index no.'s
df.reset_index(inplace = True)
df.drop(["index"], axis = 1, inplace = True)

In [37]:
df.head()

                                                text  class
0  BRUSSELS (Reuters) - EU and U.S. negotiators s...      1
1  Donald Trump, the businessman who conservative...      0
2  PARIS (Reuters) - French President Emmanuel Ma...      1
3  Kellyanne Conway will be joining the White Hou...      0
4  MANILA (Reuters) - Philippine soldiers have ki...      1

In [38]:
# Import required libraries for word processing
import re #regex library
import string

In [39]:
# Now we'll create a function to remove unwanted punctuations and symbols, special characters from text

def removeChars(text):
    text = text.lower()
    text = re.sub('\[.*?\]', '', text)  #re.sub(pattern, repl, string, count=0, flags=0)
    text = re.sub("\\W"," ",text) 
    text = re.sub('https?://\S+|www\.\S+', '', text)
    text = re.sub('<.*?>+', '', text)
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)
    text = re.sub('\n', '', text)
    text = re.sub('\w*\d\w*', '', text)    
    return text

In [40]:
# Here we'll apply thet removeChars() function on our text column from dataset

df["text"] = df["text"].apply(removeChars)

In [41]:
df['text']

0        brussels  reuters    eu and u s  negotiators s...
1        donald trump  the businessman who conservative...
2        paris  reuters    french president emmanuel ma...
3        kellyanne conway will be joining the white hou...
4        manila  reuters    philippine soldiers have ki...
                               ...
44873    washington  reuters    u s  president donald t...
44874    there s so much to know in order to understand...
44875    astana  reuters    russian foreign minister se...
44876    beirut  reuters    lebanon marks its independe...
44877    washington  reuters    u s  attorney general j...
Name: text, Length: 44878, dtype: object

In [42]:
# Now we'll categorize dependent and independent variables

X = df['text']
y = df['class']

In [43]:
X.shape

(44878,)

In [44]:
y.shape

(44878,)

In [45]:
# Apply train-test split
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.2, random_state=10)

In [46]:
X_test

8341     it s no secret that the bundy militia s presen...
24224    beijing  reuters    china defended its ally pa...
7848     washington  reuters    the u s  house of repre...
15219    moscow  reuters    russia has detained a norwe...
19031    london  reuters    russian based operatives pl...
                               ...
17741
5705     the democratic party is poised to have a conve...
28629    washington  reuters    donald trump s republic...
2467     ankara london  reuters    iran s elite islamic...
6487     during congressional testimony  the ceo of her...
Name: text, Length: 8976, dtype: object

In [47]:
# Convert text to vectors

from sklearn.feature_extraction.text import TfidfVectorizer

In [48]:
vectorization = TfidfVectorizer()

In [49]:
Xvec_train = vectorization.fit_transform(X_train)
Xvec_test = vectorization.transform(X_test)

In [50]:
# Now apply classification algorithms and check their performance
from sklearn.linear_model import LogisticRegression

lr_model = LogisticRegression()
lr_model.fit(Xvec_train,y_train)

LogisticRegression()

In [51]:
pred_lr = lr_model.predict(Xvec_test)

In [52]:
print("Accuracy = ", lr_model.score(Xvec_test, y_test))

Accuracy =  0.9852941176470589

In [53]:
from sklearn.metrics import classification_report
print(classification_report(y_test, pred_lr))

              precision    recall  f1-score   support

           0       0.99      0.98      0.99      4668
           1       0.98      0.99      0.98      4308

    accuracy                           0.99      8976
   macro avg       0.99      0.99      0.99      8976
weighted avg       0.99      0.99      0.99      8976

In [76]:
# Check with random forest classifier

from sklearn.ensemble import RandomForestClassifier

rf_model = RandomForestClassifier(random_state=0)
rf_model.fit(Xvec_train, y_train)

RandomForestClassifier(random_state=0)

In [78]:
pred_rf = rf_model.predict(Xvec_test)

In [79]:
print("Accuracy = ", rf_model.score(Xvec_test, y_test))

Accuracy =  0.99075311942959

In [83]:
print(classification_report(y_test, pred_rf))

              precision    recall  f1-score   support

           0       0.99      0.99      0.99      4653
           1       0.99      0.99      0.99      4323

    accuracy                           0.99      8976
   macro avg       0.99      0.99      0.99      8976
weighted avg       0.99      0.99      0.99      8976

In [85]:
# Check for our manual dataset

def output_class_label(n):
    if n == 0:
        return "Fake News"
    elif n == 1:
        return "True News"
    
def manual_testing(news):
    testing_news = {"text":[news]}
    new_def_test = pd.DataFrame(testing_news)
    new_def_test["text"] = new_def_test["text"].apply(removeChars) 
    new_x_test = new_def_test["text"]
    new_xv_test = vectorization.transform(new_x_test)
    pred_lr = lr_model.predict(new_xv_test)
    pred_rf = rf_model.predict(new_xv_test)

    return print("\n\nLR Prediction: {} \nRFC Prediction: {}".format(output_class_label(pred_lr[0]),output_class_label(pred_rf[0])))

In [90]:
news = str(input())
manual_testing(news)

COPENHAGEN (Reuters) - Danish police said on Tuesday the size of a headless female torso found on the sea s edge in Copenhagen suggested it could be that of a Swedish journalist who died after taking a submarine ride with the vessel s Danish inventor. Police said divers were still searching the area and they were investigating reports of other body parts that may have been spotted in Copenhagen harbor. Danish inventor Peter Madsen has been charged with killing Kim Wall, a Swedish journalist, in his home-made submarine.   We re dealing with a torso where arms, legs and head were cut off deliberately. The length of the torso doesn t speak against it being Kim Wall, but we still don t know,  Copenhagen police spokesman Jens Moller said in a video statement. Madsen told a court she had died in an accident on board the submarine and that he had buried her at sea, changing his earlier statement that he dropped her off alive in Copenhagen. Police are conducting DNA tests to identify the torso - found on Monday by a passing cyclist - and the results are due Wednesday morning, Moller said. The bizarre case has dominated Danish and Swedish media, and drawn interest from around the world. Madsen has been charged with the manslaughter of Wall, who has been missing since he took her out to sea in his 17-metre (56 feet) submarine on Aug. 10. He denies the charge. He was rescued a day later after his UC3 Nautilus sank in the narrow strait between Denmark and Sweden. Police found nobody else in the wreck. Madsen, an entrepreneur, artist, submarine builder and aerospace engineer, went before a judge on Saturday for preliminary questioning. The case is closed to the public in order to protect further investigations, police said.


LR Prediction: True News
RFC Prediction: True News

In [89]:
df_man_test['text'][13]

'COPENHAGEN (Reuters) - Danish police said on Tuesday the size of a headless female torso found on the sea s edge in Copenhagen suggested it could be that of a Swedish journalist who died after taking a submarine ride with the vessel s Danish inventor. Police said divers were still searching the area and they were investigating reports of other body parts that may have been spotted in Copenhagen harbor. Danish inventor Peter Madsen has been charged with killing Kim Wall, a Swedish journalist, in his home-made submarine.   We re dealing with a torso where arms, legs and head were cut off deliberately. The length of the torso doesn t speak against it being Kim Wall, but we still don t know,  Copenhagen police spokesman Jens Moller said in a video statement. Madsen told a court she had died in an accident on board the submarine and that he had buried her at sea, changing his earlier statement that he dropped her off alive in Copenhagen. Police are conducting DNA tests to identify the torso - found on Monday by a passing cyclist - and the results are due Wednesday morning, Moller said. The bizarre case has dominated Danish and Swedish media, and drawn interest from around the world. Madsen has been charged with the manslaughter of Wall, who has been missing since he took her out to sea in his 17-metre (56 feet) submarine on Aug. 10. He denies the charge. He was rescued a day later after his UC3 Nautilus sank in the narrow strait between Denmark and Sweden. Police found nobody else in the wreck. Madsen, an entrepreneur, artist, submarine builder and aerospace engineer, went before a judge on Saturday for preliminary questioning. The case is closed to the public in order to protect further investigations, police said. '

In [92]:
# Saving our rf model for streamlit webapp

import pickle
pickle.dump(rf_model,open('news_classification_RFmodel.p','wb'))

In [54]:
# Saving our lr model for streamlit webapp

import pickle
pickle.dump(lr_model,open('news_classification_LRmodel.p','wb'))